# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app



# Build results
!IUGameDev/
IUGameDev/Debug/
*.pdb
*.ilk

# Build
!.vs/
.vs/*
!.vs/IUGameDev/
.vs/IUGameDev/v15/*
!.vs/IUGameDev/v15/.suo